@media (max-width: 1200px) {
  .card-section {
    height: fit-content;
    padding: 20px 0 80px;
  }
  .card-section > .container {
    width: 90%;
  }
  .rotate {
    display: none;
  }
}
@media (max-width: 992px) {
  .card-div--item {
    width: calc(50% - 30px);
    height: fit-content;
    min-height: 322px;
  }

  .card-item--about {
    padding: 60px 20px 20px;
  }
}
@media (max-width: 576px) {
  .card-div--item {
    width: calc(100% - 30px);
    min-height: 120px;
  }
  .first-paragraf {
    width: 100%;
    padding: 24px !important;
  }
  .header-button {
    width: 147px;
    position: absolute;
    right: 15px;
  }
  .footer-button {
    width: 147px;
    height: 46px;
  }
  .skill-container {
    width: 100%;
  }
  .skill-div {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    padding: 0px 25px;
  }
  .skill-title {
    width: 100%;
  }
  .skill-subtitle {
    width: 91%;
  }
  .title-about {
    font-size: 50px;
  }
  .subtitle-about {
    font-size: 18px;
  }

  .header-section > .container {
    width: 90%;
  }
  .skill-div:nth-of-type(2) {
    width: 100%;
  }
  .skill-image {
    width: 253px;
    height: 253px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skill-image > img {
    width: 349.474px;
    height: 100%;
  }
  .skill-card {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skill-small--card1 {
    left: -2%;
    width: 155px;
    padding: 20px !important;

    height: 100px;
  }
  .skill-small--card2 {
    width: 105px;
    height: 100px;
    top: 0;
    left: 64%;
    padding: 20px;
  }
  .skill-small--number {
    font-size: 30px;
  }
  .card-section {
    margin-top: 0;
  }
  .card-div {
    gap: 40px;
  }
}
